<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Making your first Phaser 3 Game - Part 10</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>

<body style="background-color: #008000;">

    <script type="text/javascript">
        class Example extends Phaser.Scene {
            preload() {
                this.load.image('grass-tiles', 'assets/Grass.png');
                this.load.spritesheet('player', 'assets/cat.png', { frameWidth: 16, frameHeight: 16 });
                this.load.tilemapCSV('map', 'assets/level.csv');

            }

            create() {

                const map = this.add.tilemap('map', 16, 16);

                const tiles = map.addTilesetImage('grass-tiles');

                this.cameras.main.setBackgroundColor('#008000');


                const layer = map.createLayer(0, tiles, 0, 0);
                layer.setCollision([30, 61, 64, 65, 74, 75]);

                // Create the player sprite
                player = this.physics.add.sprite(6 * 16 / 2, 6 * 16 / 2, 'player');


                
    // Draw a square using the Graphics object
    var graphics = this.add.graphics({ fillStyle: { color: 0x0000ff } });
    graphics.fillRect(0, 0, 50, 50);

    // Save the drawn square as a texture
    graphics.generateTexture('dynamicSquareTexture', 50, 50);
    
    // Get the texture directly
    let dynamicTexture = this.textures.get('dynamicSquareTexture').getSourceImage();

    // Creating a physics group
    var squareGroup = this.physics.add.group({
        setXY: { x: 100, y: 100, stepX: 60 },
        velocityX: 100
    });
    
    // Create a sprite using the texture directly
    let sprite = this.physics.add.sprite(50, 50, dynamicTexture);
    squareGroup.add(sprite); // Adding the sprite to the group



                const anims_speed = 5;

                this.anims.create({
                    key: 'walk-left',
                    frames: [
                        { key: 'player', frame: 91 },
                        { key: 'player', frame: 94 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'idle-left',
                    frames: [
                        { key: 'player', frame: 85 },
                        { key: 'player', frame: 88 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'walk-right',
                    frames: [
                        { key: 'player', frame: 127 },
                        { key: 'player', frame: 130 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'idle-right',
                    frames: [
                        { key: 'player', frame: 121 },
                        { key: 'player', frame: 124 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });


                this.anims.create({
                    key: 'walk-up',
                    frames: [
                        { key: 'player', frame: 55 },
                        { key: 'player', frame: 58 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'idle-up',
                    frames: [
                        { key: 'player', frame: 49 },
                        { key: 'player', frame: 52 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'walk-down',
                    frames: [
                        { key: 'player', frame: 19 },
                        { key: 'player', frame: 22 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'idle-down',
                    frames: [
                        { key: 'player', frame: 13 },
                        { key: 'player', frame: 16 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                player.setCollideWorldBounds(true);

                this.physics.add.collider(player, layer);

                cursors = this.input.keyboard.createCursorKeys();

            }

            update() {

                if (cursors.left.isDown) {
                    player.setVelocityX(-160);
                    player.anims.play('walk-left', true);
                    direction = 'left';
                } else if (cursors.right.isDown) {
                    player.setVelocityX(160);
                    player.anims.play('walk-right', true);
                    direction = 'right';
                } else if (cursors.up.isDown) {
                    player.setVelocityY(-160);
                    player.anims.play('walk-up', true);
                    direction = 'up';
                } else if (cursors.down.isDown) {
                    player.setVelocityY(160);
                    player.anims.play('walk-down', true);
                    direction = 'down';
                } else {
                    player.setVelocity(0);
                    // check with direction was used last and play the idle version of it
                    if (direction === 'left') {
                        player.anims.play('idle-left', true);
                    } else if (direction === 'right') {
                        player.anims.play('idle-right', true);
                    } else if (direction === 'up') {
                        player.anims.play('idle-up', true);
                    } else if (direction === 'down') {
                        player.anims.play('idle-down', true);
                    }
                }
            }

        }

        const config = {
            type: Phaser.AUTO,
            width: 14 * 16, // Number of tiles * size of the tile
            height: 10 * 16,
            zoom: 1,
            parent: 'phaser-example',
            pixelArt: true,
            scene: Example,
            scale: {
                mode: Phaser.Scale.FIT,
                autoCenter: Phaser.Scale.CENTER_BOTH,
            },
            physics: {
                default: 'arcade',
                arcade: {
                    gravity: { y: 0 }, // No gravity in this example
                    debug: true // Set it to true if you want to visualize the collision boundaries
                }
            }
        };

        var cursors;
        var player;
        var direction = 'down';
        const game = new Phaser.Game(config);


    </script>

</body>

</html>