<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Making your first Phaser 3 Game - Part 10</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>

<body style="background-color: #008000;">

    <script type="text/javascript">
        class Example extends Phaser.Scene {
            preload() {
                this.load.image('grass-tiles', 'assets/Grass.png');
                this.load.spritesheet('player', 'assets/cat.png', { frameWidth: 16, frameHeight: 16 });
                this.load.spritesheet('chicken', 'assets/chicken.png', { frameWidth: 16, frameHeight: 16 });
                this.load.tilemapCSV('map', 'assets/level.csv');
                this.load.audio('loop5', 'assets/loop5.mp3');
                this.load.audio('loop6', 'assets/loop6.mp3');
                this.load.audio('hit', 'assets/bump.wav');
            }

            create() {

                const map = this.add.tilemap('map', 16, 16);

                const tiles = map.addTilesetImage('grass-tiles');

                const layer = map.createLayer(0, tiles, 0, 0);
                layer.setCollision([30, 61, 64, 65, 74, 75]);

                this.physics.world.setBounds(0, 0, 992, 896);
                // Play the first loop
                currentLoop = this.sound.add('loop5');
                hitSound = this.sound.add('hit');


                // Create the player sprite
                player = this.physics.add.sprite(6 * 16 / 2, 6 * 16 / 2, 'player');
                player.setBounce(0.8);
                const camera = this.cameras.main;
                camera.setBackgroundColor('#008000');
                camera.startFollow(player);
                camera.setBounds(0, 0, 992, 896);
                camera.setZoom(3);


                const anims_speed = 5;

                this.anims.create({
                    key: 'walk-left',
                    frames: [
                        { key: 'player', frame: 91 },
                        { key: 'player', frame: 94 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'idle-left',
                    frames: [
                        { key: 'player', frame: 85 },
                        { key: 'player', frame: 88 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'walk-right',
                    frames: [
                        { key: 'player', frame: 127 },
                        { key: 'player', frame: 130 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'idle-right',
                    frames: [
                        { key: 'player', frame: 121 },
                        { key: 'player', frame: 124 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });


                this.anims.create({
                    key: 'walk-up',
                    frames: [
                        { key: 'player', frame: 55 },
                        { key: 'player', frame: 58 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'idle-up',
                    frames: [
                        { key: 'player', frame: 49 },
                        { key: 'player', frame: 52 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'walk-down',
                    frames: [
                        { key: 'player', frame: 19 },
                        { key: 'player', frame: 22 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                this.anims.create({
                    key: 'idle-down',
                    frames: [
                        { key: 'player', frame: 13 },
                        { key: 'player', frame: 16 }
                    ],
                    frameRate: anims_speed,
                    repeat: -1
                });

                player.setCollideWorldBounds(true);

                this.physics.add.collider(player, layer);

                const chickens = this.physics.add.group({
                    bounceX: 0.8,
                    bounceY: 0.8,
                    collideWorldBounds: true
                });
                var that = this;
                this.physics.add.collider(player, chickens, function (player, chicken) {
                    // Play the sound effect
                    hitSound.play();

                    // Remove the chicken from the scene
                    chicken.destroy();
                });             
                this.physics.add.collider(chickens, layer);
                this.physics.add.collider(chickens, chickens);

                this.anims.create({
                        key: 'chicken-idle',
                        frames: [
                            { key: 'chicken', frame: 0 },
                            { key: 'chicken', frame: 1 }
                        ],
                        frameRate: 10,
                        repeat: -1
                    });


                // Create 10 chicken sprites
                for (let i = 0; i < 10; i++) {
                    const randomheight = Math.floor(Math.random() * 100) + 32;
                    const chicken = chickens.create(16 * i + 24, randomheight - 8, 'chicken');

                    chicken.setOrigin(0.5, 0.5);
                    // chicken.setMass(100);
                    chicken.anims.play('chicken-idle', true);
                    chicken.setVelocity(Math.random() * 100 + 100, Math.random() * 100 + 100);

                }


                cursors = this.input.keyboard.createCursorKeys();

            }

            update() {
                // if (currentLoop.seek <= 0) {
                //     if (currentLoop.key === 'loop5'){
                //         currentLoop = this.sound.add('loop6');
                //     } else {
                //         currentLoop = this.sound.add('loop5')
                //     }
                //     currentLoop.play();
                // }


                if (cursors.left.isDown) {
                    player.setVelocityX(-160);
                    player.anims.play('walk-left', true);
                    direction = 'left';
                } else if (cursors.right.isDown) {
                    player.setVelocityX(160);
                    player.anims.play('walk-right', true);
                    direction = 'right';
                } else if (cursors.up.isDown) {
                    player.setVelocityY(-160);
                    player.anims.play('walk-up', true);
                    direction = 'up';
                } else if (cursors.down.isDown) {
                    player.setVelocityY(160);
                    player.anims.play('walk-down', true);
                    direction = 'down';
                } else {
                    player.setVelocity(0);
                    // check with direction was used last and play the idle version of it
                    if (direction === 'left') {
                        player.anims.play('idle-left', true);
                    } else if (direction === 'right') {
                        player.anims.play('idle-right', true);
                    } else if (direction === 'up') {
                        player.anims.play('idle-up', true);
                    } else if (direction === 'down') {
                        player.anims.play('idle-down', true);
                    }
                }

            }

        }

        const config = {
            type: Phaser.AUTO,
            // width: 14 * 16,
            // height: 10 * 16,
            // use the with of the window
            width: 800,
            height: 600,
            parent: 'phaser-example',
            pixelArt: true,
            scene: Example,
            scale: {
                mode: Phaser.Scale.FIT,
                autoCenter: Phaser.Scale.CENTER_BOTH,
            },
            physics: {
                default: 'arcade',
                arcade: {
                    gravity: { y: 0 }, // No gravity in this example
                    debug: true // Set it to true if you want to visualize the collision boundaries
                }
            }
        };

        var cursors;
        var player;
        var currentLoop;
        var hitSound;
        var direction = 'down';
        const game = new Phaser.Game(config);


    </script>

</body>

</html>