<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>projectile</title>
    <script src="//cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>

<body>

    <script type="text/javascript">
        class Example extends Phaser.Scene {
            constructor() {
                super({ key: 'example' });
            }

            preload() {
                this.load.image('bullet', 'assets/bullet_green.png');
                this.load.image('player', 'assets/bullet_black.png');
            }

            create() {
                this.physics.world.setBounds(0, 0, 800, 600);
                this.player = this.physics.add.sprite(100, 100, 'player');
                this.player.setCollideWorldBounds(true);

                this.bullets = this.physics.add.group();

                this.cursors = this.input.keyboard.createCursorKeys();
                this.spacebar = this.input.keyboard.addKey(Phaser.Input.Keyboard.KeyCodes.SPACE);
            }

            update() {
                if (this.cursors.left.isDown) {
                    this.player.setVelocityX(-200);
                } else if (this.cursors.right.isDown) {
                    this.player.setVelocityX(200);
                } else {
                    this.player.setVelocityX(0);
                }

                if (this.cursors.up.isDown) {
                    this.player.setVelocityY(-200);
                } else if (this.cursors.down.isDown) {
                    this.player.setVelocityY(200);
                } else {
                    this.player.setVelocityY(0);
                }

                if (Phaser.Input.Keyboard.JustDown(this.spacebar)) {
                    const bullet = this.bullets.create(this.player.x, this.player.y, 'bullet');
                    bullet.setVelocity(0, -500);
                }
            }
        } 
        

        const config = {
            type: Phaser.AUTO,
            width: 800,
            height: 600,
            backgroundColor: '#ff69b4',
            physics: {
                default: 'arcade',
                arcade: {
                    gravity: { y: 0 },
                    debug: true
                }
            },
            scene: [ Example ]
        };

        const game = new Phaser.Game(config);

    </script>

</body>

</html>